<section>
  <div class="conatainer pt-4 p-5">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Item</th>
          {{! <th scope="col">Title</th> }}
          <th scope="col">price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Settings</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {{#each product}}
          <tr>
            <td><img
                style="height: 70px;"
                src="/product-images/{{this.product._id}}.jpg"
                alt=""
              /></td>
            {{!-- <td>{{this.product.Name}}</td> --}}
            <td scope="row">Rs-/{{this.product.Price}}</td>
            <td class="p-2">
              <button
                class="btn btn-secondary"
                onclick="changeQuantity('{{this._id}}','{{this.product._id}}',-1)"
              >-</button>
              <span id="{{this.product._id}}">
                {{this.quantity}}
              </span>
              <button
                class="btn btn-primary"
                onclick="changeQuantity('{{this._id}}','{{this.product._id}}',1)"
              >+</button>
            </td>
            <td><a class="btn btn-danger" href="">Remove</a></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <hr />
    <div class="float-right pr-5 ml-5">
      <h5 class="float-right mr-5 mt-4">Total:Rs-/{{total}}</h5><br />
      <a
        href="/place-order"
        class="float-left btn btn-success"
        style="width: 15%;"
      ><b> Place Order</b></a>
    </div>
  </div>
</section>

{{! <script>
  function changeQuantity(cartId,proId,count){ 
    let quantity =
  parseInt(document.getElementById(proId).innerHTML) $.ajax({
  url:'/change-product-quantity', data:{ cart:cartId, product:proId, count:count
  }, method:'post', success:(response)=>{ alert(response) } }) }
</script> }}